<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/add_button.ejs') %>
    <div class="container">
      <h6>Dashboard</h6>
      <h3>Hi <%= name %></h3>
      <h6>Here are your stories</h6>
      <% if (stories.length != 0) { %>
      <table class="striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% stories.forEach(story => { %>
          <tr>
            <td>
              <a href="/stories/<%= story._id %>"><%= story.title %></a>
            </td>
            <td><%= story.createdAt %></td>
            <td><span class="dash-status"><%= story.status %></span></td>
            <td>
              <a
                href="/stories/edit/<%= story._id %> "
                class="btn btn-float blue darken-3"
                >Edit</a
              >
              <form
                action="/stories/<%= story._id %>"
                method="POST"
                id="delete_form"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn red">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>You haven't created any stories</p>
      <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
